backports.ssl-match-hostname==3.4.0.2
certifi==14.5.14
chardet==2.0.1
Cheetah==2.4.4
cloud-init==0.7.5
colorama==0.2.5
configobj==4.7.2
docutils==0.11
Flask==0.10.1
Flask-Bcrypt==0.6.0
Flask-Bootstrap==3.3.0.1
flask-mongoengine==0.7.1
Flask-WTF==0.10.3
html5lib==0.999
itsdangerous==0.24
Jinja2==2.7.2
jsonpatch==1.3
jsonpointer==1.0
lxml==3.3.3
MarkupSafe==0.18
matplotlib==1.3.1
meld3==0.6.10
mongo==0.2.0
mongoengine==0.8.7
mysql==0.0.1
MySQL-python==1.2.5
nose==1.3.4
numpy==1.8.2
oauth==1.0.1
pika==0.9.14
Pillow==2.3.0
prettytable==0.7.2
py-bcrypt==0.4
PyAudio==0.2.7
PyDejavu==0.1.2
pydub==0.9.5
Pygments==1.6
pymongo==2.7.2
pyparsing==2.0.1
pyserial==2.6
python-dateutil==1.5
pytz==2012rc0
PyYAML==3.10
requests==2.2.1
roman==2.0.0
scipy==0.15.1
six==1.5.2
Sphinx==1.2.2
supervisor==3.0b2
tornado==4.1
urllib3==1.7.1
virtualenv==12.0.5
Werkzeug==0.9.6
WTForms==2.0.1
